/* style.css */

body {
    font-family:'Courier New', Courier, monospace;
    min-height: 100vh;
    margin: 0;
    display: flex; /* Align sections vertically */
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    -webkit-user-drag: none;
    user-select: none;

    background-position: center; /* Create fixed background */
    background-size: cover;
    background-image: url(../images/cristian-palmer-ocean.jpg);
    background-attachment: fixed;
}

#header, #footer {
    color: white;
    text-align: center;
    padding: 12px 10%;
    background-color: rgba(0, 92, 212, 0.5);
    /* Default flex-grow of 0 shrinks header/footer
    against the calculator in #content*/
}

#content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-container {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: blue;
    padding: 20px;
    box-shadow: 18px 18px 12px black;
    border-radius: 12px;
}

#view, #top-btn-container, #bottom-btn-container,
#numpad-container, .right-bottom-btns {
    display: flex;
}

#view {
    background-color: beige;
    box-shadow: inset 4px 4px 4px 2px rgba(0,0,0,0.2)
}

#top-btn-container {
    background-color: green;
}

#bottom-btn-container {
    background-color: yellow;
}

#numpad-container {
    background-color: purple;
}

.left-bottom-btns {

}

.right-bottom-btns {
    flex-direction: column;
}

.button {
    margin: 4px;
    background-color: aqua;

    size: 24px 24px;
}

.zero-button {
    background-color: orange; 
}