/* style.css */

body {
    font-family:'Courier New', Courier, monospace;
    min-height: 100vh;
    min-width: 500px;
    margin: 0;
    display: flex; /* Align sections vertically */
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    -webkit-user-drag: none;
    user-select: none;

    background-position: center; /* Create fixed background */
    background-size: cover;
    background-image: url(../images/cristian-palmer-ocean.jpg);
    background-attachment: fixed;
}

#header, #footer {
    color: white;
    text-align: center;
    padding: 12px 10%;
    background-color: rgba(0, 92, 212, 0.5);
    /* Default flex-grow of 0 shrinks header/footer
    against the calculator in #content*/
}

#content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#calc-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 550px;
    width: 400px;
    background-color: blue;
    padding: 32px;
    box-shadow: 18px 18px 12px rgba(0,0,100,0.5);
    border-radius: 12px;
}

#top-btn-container, #bottom-btn-container,
#numpad-container, .right-bottom-btns {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#view {
    height: 72px;
    font-size: 36px;
    margin: 0px 0px 24px 0px;
    background-color: beige;
    text-align: right;
    box-shadow: inset 4px 4px 4px 2px rgba(0,0,0,0.2);
    padding: 4px;
}

#top-btn-container {
}

#bottom-btn-container {
    justify-content: space-between;
}

#numpad-container {
    flex-wrap: wrap;
    flex-basis: 300px;
}

.fading-image {
    position: absolute;
    z-index: 1;
    opacity: 0;
}

.button {
    line-height: 84px; /* Align in center */
    vertical-align: middle;
    font-size: 32px;
    font-weight: 700;
    border-radius: 12px;
}

.left-bottom-btns {
    flex-grow: 3;
    margin: 0px 16px 0px 0px;
}

.right-bottom-btns {
    flex-direction: column;
    flex-basis: 100px;
    flex-grow: 1;
}

.button {
    background-color: aqua;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

.zero-button {
    background-color: orange;
    width: 188px; 
}